/*RESET UNIVERSAL*/
*, *::before, *::after {
  box-sizing: border-box;

  font-family: 'Times New Roman', Times, serif;

  max-width: 100%;
  min-width: 0;
  overflow-wrap: break-word;




}


body{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 10px;

  margin: 20px;

  grid-template-areas:
  "header header header"
  "nav nav nav"
  "main main aside"
  "footer footer footer";
  
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  
  grid-area: header;

  min-height: 150px;
  text-align: center;
    
  width: 100%;

  
  background-color: rgb(232, 236, 236)
}

nav{
  grid-area: nav;

  display: flex;
  justify-content: center;



  text-align: center;


  width: 100%;
  height: 100%;
  
  background-color: rgb(226, 240, 240)
  
}


main{
  grid-area: main;

  display: flex;
  justify-content: center;

  
}

aside{
  
  grid-area: aside;


  align-self: self-start;

  border-style: solid;

  max-width: 100%;
  height: auto;

  margin: 20px;
  
  padding: 10px;

  border-radius: 10px;
  background-color: rgb(207, 207, 247);
  
}


footer{
  display: flex;
  align-items: end;
  justify-content: center;
  
  grid-area: footer;
  
  min-height: 100px;
  
  
  width: 100%;

  margin: 20px;
  

  background-color: rgb(195, 238, 238)
}

.menu-navegacion{
  display: flex;
   
  list-style-type: none;

  font-size: 20px;

  flex-direction: row;
  justify-content: center;

  
  gap: 20px ;

  text-decoration: underline;

  
}

aside h3{
  text-align: center;
  font-size: 24px;
  

}

.listado-de-referencias li{
  line-height: 2;
}

footer p{
  font-size: 24px;
}

.articulos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 80px;  


  grid-template-areas:
  
  "titulo titulo"
  "articulo1 articulo2"
  "articulo3 articulo4"
  "articulo5 articulo6"
  ;
  
}

.articulos h2{  
  grid-area: titulo;  

  font-size: 30px;
}


.articulo1{
  grid-area: articulo1;
  
  line-height: 1.5;
}

.articulo2{
  grid-area: articulo2;

  line-height: 1.5;
}

.articulo3{
  grid-area: articulo3;

  line-height: 1.5;
}

.articulo4{
  grid-area: articulo4;

  line-height: 1.5;
}

.articulo5{
  grid-area: articulo5;

  line-height: 1.5;
  
}

.articulo6{
  grid-area: articulo6;

  line-height: 1.5;
  
}


.aislamiento-motor{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: left;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 80px;  
  

  grid-template-areas: 
  "titulo"
  "articulo7"
  "articulo8"
  "articulo9"
  "articulo10"
  "articulo11"
  "articulo12"
  "articulo13";

  width: 100%;
  box-sizing: border-box;
  

  line-height: 1.5;

   
}


.aislamiento-motor h2{  
  grid-area: titulo;
  
  align-items: center;
  justify-items: center;
  justify-self: center;

  font-size: 30px;

  margin: 0;
}



.articulo7{
  grid-area: articulo7;
  
  min-width: 0;
  overflow-wrap: break-word;
  
}

.articulo8{
  grid-area: articulo8;

  min-width: 0;
  overflow-wrap: break-word;
  
}

.articulo9{
  grid-area: articulo9;

  min-width: 0;
  overflow-wrap: break-word;

}

.articulo10{
  grid-area: articulo10;

  min-width: 0;
  overflow-wrap: break-word;

}

.articulo11{
  grid-area: articulo11;

  min-width: 0;
  overflow-wrap: break-word;

}

.articulo12{
  grid-area: articulo12;

  min-width: 0;
  overflow-wrap: break-word;

}

.articulo13{
  grid-area: articulo13;

  min-width: 0;
  overflow-wrap: break-word;

}


th, td{
  border: 1px solid black; 
  height: 40px;

  width: 100%;

}

table input, select{
  border: none;
  outline: none;
  background: transparent;

  height: 100%;
  display: block;

  font-family: inherit;
  font-size: inherit;
  color: inherit;

  padding: 0;
  margin: 0;

  text-align: center;
}

.tabla-datos h2{

  text-align: center;
  justify-content: center;
  align-items: center;
}

.valores-aislamiento{

  margin-top: 30px;

  justify-content: center;
  align-items: center;
  text-align: center;
}

/*AJUSTE DE LOS MEDIA QUERYS */

@media (max-width: 768px) {
  body {
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
    
    grid-template-columns: 1fr;
  }

  aside {
    max-width: 100%;
  }

  .articulos{

    grid-template-areas:
    "titulo"
    "articulo1"
    "articulo2"
    "articulo3"
    "articulo4"
    "articulo5"
    "articulo6";

    grid-template-columns: 1fr;

  }

  .aislamiento-motor{

    grid-template-areas: 
    "titulo"
    "articulo7"
    "articulo8"
    "articulo9"
    "articulo10"
    "articulo11"
    "articulo12"
    "articulo13";
    
    grid-template-columns: 1fr;
    

   
  }




}
